__pycache__/
*.pyc
*.pyo
*.pyd

# frontend node modules
Frontend/node_modules/

# ---- Python ----
# Virtual environment
Backend/src/venv/

**/venv/

Backend/src/venv/
Backend/src/__pycache__
Backend/csv
Backend/src/app/__pycache__
