@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.custom-tooltip-box {
  min-width: 300px;   /* force a minimum width */
  max-width: 300px;   /* optionally limit the max */
  min-height: 40px;   /* force a taller box */
  white-space: normal; /* allow wrapping if needed */
}

@theme {
  
  --breakpoint-3xl: 120rem;
}